body {
background: ;
}

.block1 {
background: azure;
margin: -30px;

}

.block2 {
background: lemonchiffon;
margin: -30px;
}

.block3 {
background: mistyrose;
margin: -30px;

}

.block4 {
background: aliceblue;
margin: -30px;

}

.block5 {
background: cornsilk;
margin: -30px;

}
